body{
    font-family: 'Pacifico', cursive;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    font-family:'Pacifico', cursive;
    font-size: 30pt;
    color: #fffefee6 !important;
}

header{
    background-image: url(../img/Nicole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10px;
    height: 700px;
}

.miblog {
    padding-top: 50px;
    color:#f93285;
}

h2{
    font-family:'Raleway', sans-serif ;
    font-size: 20pt;
    font-weight: 700;
}

.miblog h1 {
    background: #ffffffa3;
    font-family:'Raleway', sans-serif;
    font-size: 30pt;
    font-weight: 700;
}

.nombre {
    font-family:'Raleway', sans-serif;
    font-size: 50pt;
    font-weight: 700;
}

.aboutme {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

.carousel-control-prev-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
    } 
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
     }

.background {
    background-color: #660066;
}

.card-title {
font-family: 'Raleway', sans-serif;
font-size: 20pt;
font-weight: 400;
color: #373A3C;
}

footer h1 {
    font-family: 'Pacifico', cursive ;
    font-size: 30pt;
    font-weight: 300;
    color: #fffefee6;
} 

footer a{
    padding: 4px;
}

@media (min-width: 768px) {
    body{
        font-family: 'Pacifico', cursive;
        font-family: 'Raleway', sans-serif;
    }
    
    .navbar-brand {
        font-family:'Pacifico', cursive;
        font-size: 30pt;
        color: #fffefee6 !important;
    }
    
    header{
        background-image: url(../img/Nicole.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 10px;
        height: 700px;
    }
    
    .miblog {
        padding-top: 50px;
        color:#f93285;
    }
    
    h2{
        font-family:'Raleway', sans-serif ;
        font-size: 40pt;
        font-weight: 700;
    }
    
    .miblog h1 {
        background: #ffffffa3;
        font-family:'Raleway', sans-serif;
        font-size: 60pt;
        font-weight: 700;
    }
    
    .nombre {
        font-family:'Raleway', sans-serif;
        font-size: 50pt;
        font-weight: 700;
    }
    
    .aboutme {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 16pt;
    }
    
    .carousel-inner img, .carousel-item img {
        width: 60% !important;
        margin-left: 20%;
    }
    .carousel-control-prev-icon {
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
        } 
       
    .carousel-control-next-icon {
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
         }
    
    .carousel-caption {
        background: #b7eef7;
        font-family: 'Pacifico', cursive;
    }
    
    .background {
        background-color: #660066;
    }
    
    .card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    font-weight: 400;
    color: #373A3C;
    }
    
    footer a{
        padding-left: 15px;
        color: white;
    }
    
    footer h1 {
        font-family: 'Pacifico', cursive ;
        font-size: 30pt;
        font-weight: 300;
        color: #fffefee6;
    } 

}